data:
  image: busybox
  volumes:
    - /var/lib/mysql
    - /var/www/html/assets
drupal:
  image: sparkfabrik/docker-php-base-image:5.6.19
  volumes_from:
    - data
  links:
    - mysql
    - mail
    - blackfire_agent:blackfire
  environment:
    - ENV_TYPE=LOC
    - PHP_OPCACHE_ENABLE=0
mysql:
  image: mariadb:10.1.12
  environment:
    - MYSQL_ROOT_PASSWORD=root
    - MYSQL_DATABASE=drupal
    - MYSQL_USER=drupal
    - MYSQL_PASSWORD=drupal
  volumes_from:
    - data
blackfire_agent:
  image: blackfire/blackfire:latest
  environment:
    - BLACKFIRE_SERVER_ID
    - BLACKFIRE_SERVER_TOKEN
mail:
  image: mailhog/mailhog:latest
